# =========================
# 🔹 Python
# =========================
_pycache_/
*.pyc
*.pyo
*.pyd
*.so

# =========================
# 🔹 Virtual Environment
# =========================
venv/
env/
ENV/
*.env
sentiment_env/

# =========================
# 🔹 Data (IMPORTANT)
# =========================
data/
*.csv
*.tsv

# =========================
# 🔹 Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# 🔹 VS Code
# =========================
.vscode/

# =========================
# 🔹 System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# 🔹 Logs
# =========================
*.log

# =========================
# 🔹 Model Artifacts (OPTIONAL)
# =========================
# Uncomment if you don't want to upload models
# artifacts/

# =========================
# 🔹 Streamlit
# =========================
.streamlit/